pyee~=9.0.4
requests~=2.27.1
qrcode~=7.3.1
lxml~=4.8.0
wechaty-puppet>=0.3.dev10
wechaty-puppet-service>=0.8.4
quart~=0.16.3

wechaty~=0.8.34
grpclib~=0.4.2
APScheduler~=3.9.1
opencv-python~=4.5.5.64
numpy~=1.21.5
Pillow~=9.0.1
Flask~=2.0.3
setuptools~=47.1.0
